
.edit-on {
    background: rgb(59, 59, 59);
    border:none;
    /* color: white; */
    
  }

.edit-off {
    background: transparent;
    border: none;
    /* color: white; */
    
  } 

  #edit-shortlist-title{
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    min-height:80px;
    max-height:80px;
    min-width: 350px;
    max-width: 350px;
/* border:2px solid yellowgreen; */
  }

  #edit-shortlist-desc{
    /* border: 2px solid yellowgreen; */
    font-size: 16px;
    min-height: 60px;
    /* max-height: 50px; */
    min-width: 350px;
    max-width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
  }


  /* .border-on{
border: 1px solid gray;

  } */

  .border-off{
    border: 1px solid transparent;
  }

  .single-shortlist-view-heading{
    color: var(--dark-button)
  }

  .shortlist-title-and-edit-btns{
    display: flex;
    flex-direction: row;
  }

  .edit-delete-save-btns{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .shortlist-details-heading{
    margin-top: 3px;
    text-align: center;
    color: var(--dark-text-2)
  }

  .search-params{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 30px;
    padding-bottom: 10px;

  }

  .actual-params-details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
     height: 80px;
  }

.param-detail-text{
  background-color: var(--dark-bg);
  color: var(--light-bg);
  text-align: center;
  border-radius: 10px;
  min-height:15px;
  margin: 3px 0px;
  padding:0px 4px;
  font-size: 15px;
  
}

  .genre-details{
    min-height: 15px;
  }


  .comment-thread-btn{
text-align: center;
display: grid;
grid-template-columns: 10% 200px 5% 20%;
justify-content: center;
align-items: center;
column-gap: 15px;
font-size: 20px;
cursor: pointer;
color: var(--dark-txt-3);
/* border: 1px solid blue; */
  }

  .avatar{
    /* border: 1px solid red; */
    grid-column: 1;
  }

  .referral-fullName{
    /* border: 1px solid red; */
    text-align: left;
    grid-column: 2;
  }

  .open-thread{
    display:none
  }

  .closed-thread{
    display: block;
  }


  .comment-bubble-and-avatar{
/* border: 2px solid purple; */
    display:grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: auto auto;
    column-gap: 20px;
    max-width: 350px;
    padding: 15px 0px;
    
  }

  .commenter_name{
    grid-column-start: 1;
    grid-row: 1;
    align-self: flex-end;
    text-align: center;
    font-size: 12px;
    padding-left: 4px;
  }
  .comment-text{
    /* border: 2px solid purple; */
    grid-column-start: 2;
   max-width: 200px;
  }

  .you_icon{
    
    grid-column-start: 3;
    text-align: center;
    
  }


  .message-bubble {
    max-width: 100%; 
    background-color:white;
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
    word-wrap: break-word; /* Ensure text wraps within the bubble */
    display: inline-block;
    font-family: Arial, sans-serif;
    color: #333;
    box-shadow: inset -3px -3px 10px gray;
  }

/* Optional: Add a tail to the bubble */
/* .message-bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
} */

/* .comment-form-container{
display: flexbox;
flex-direction: column;
justify-content: center;

} */

.comment-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  min-height: 90px;
  margin-bottom: 0px;
}

#comment-textarea{
  max-width:200px;
  min-width:200px;
  max-height: 30px;
  min-width: 30px;
}

.delete-referral-btn{
  grid-column: 4;
font-size: 12px;
padding: 0px 2px 0px 2px;
margin-left: 20px;
}