

.dates-and-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}
.my-listings{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    overflow-y: auto;
    height: 200px;
}
.listing-and-button{
    display: flexbox;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid white;
    padding: 10px 5px;
}

.smaller-btn{
    padding: 1px 5px;
}

.booking-form{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
    width: 250px;
    margin-bottom: 10px;
    position: relative;
}

.bookings-list-container{
    overflow-y:scroll;
    max-height: 120px;
    /* border: 2px solid yellowgreen; */

}

.booking-inputs
{
    display: inline !important;
   width: 100%;
    
}

.booking-inputs > div.react-datepicker-wrapper{
    width: 90%;
}


.start-end-title{
    padding: 0px;
    margin: 0px;
}

#submit-booking{
    padding: 3px 5px;
    height: 50%;
    font-size: 12px;
}

input{
    display: inline !important;
    width: 100%;
}


.tooltip{
    position: absolute;
    bottom: 45px;
    z-index: 1;
    color: brown;
    background-color: antiquewhite;
    border-radius: 10px;
    min-width: fit-content;
    padding: 1px 5px;
}