.cal-box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 50px;
    width: 300px;
    /* border: 2px solid white; */
    text-align: center;
    overflow-y: auto;
}

.dates-and-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.my-listings{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    overflow-y: auto;
    height: 200px;
}
.listing-and-button{
    display: flexbox;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid white;
    padding: 10px 5px;
}

.smaller-btn{
    padding: 1px 5px;
}

#booking-title-btn{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    column-gap: 10px;
    padding: 0px;
    margin: 0px;
}

.booking-input{
    display: flex;
    flex-direction: row;
    border: 2px solid yellowgreen;
}

.start-end-title{
    padding: 0px;
    margin: 0px;
}

#add-booking-btn{
    padding: 3px 10px;
    height: 50%;
}

