#beta-signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    background-color:var(--light-bg);
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
}