.signup-modal-container{
min-height: 300px;
width: 300px;
padding:20px;
border: 3px solid white;
}


.signup-label-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.label{
    grid-column-start: 1;
}

.field{
    grid-column-start: 2;
}
