.save-shortlist-title{
    font-size: 20px;
    width: 300px;
}

.save-shortlist-desc{
    /* border: 2px solid yellowgreen; */
    color: black;
}

.search-results-heading{
    margin-top:0px;
    padding-top:5px;
    margin-bottom: 0px;
    
}

.title-and-save-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}

.save-shortlist-btn{
    padding: 0px 4px;
    margin: 0px;
    font-size: 20px;
    height: 35px;
}

.results-box{
height: 400px;
overflow-y: auto;
}
.result-count{
    text-align: center;
    margin: 0px;
    padding-bottom: 5px;
}

.search-result-tile{
    font-size: 20px;
   border-top: 2px solid white;
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    color: var(--light-text);
}