/* TODO: Add sitewide styles */
:root{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

#site-wide-grid-container{
    border: 2px dotted orange;
    min-width: 2000px;
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: auto auto auto ;
    justify-content: center;
    grid-auto-flow: row;
    grid-row-gap: 50px;
    grid-column-gap: 0px;
}

#build-shortlist-form{
border: 2px dotted green;
grid-column: 1;
grid-row:2;
}

#search-results-view{
    border: 2px dotted fuchsia;
    grid-column: 2;
    grid-row:2;
    }

#my-shortlists{
    border: 2px solid blue;
    grid-column: 3;
    grid-row: 2;
}


#single-shortlist-view{
    min-height: 400px;
    border: 2px solid yellow;
    grid-column: 4;
    grid-row: 2;
}  

.comment-tile{
    border: 3px solid pink
}

