
:root{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    --dark-bg: rgb(84, 46, 0);
    --dark-bg-2: rgb(0, 66, 69);
    --light-bg: #fffae9;
    --tran-bg: rgba(1, 12, 60, 0.12);
    --dark-text: rgb(84, 46, 0);
    --dark-text-2: rgb(0, 66, 69);
    --dark-txt-3: rgb(0, 18, 107);
    --light-text: white;
    --dark-button: rgb(0, 66, 69);
    --light-text: white;
    --dark-border: 2px solid rgb(84, 46, 0);
    --light-border: 2px solid white;
    --panel-border: 30px;
    --light-hover: rgba(201, 253, 255, 0.5);
    background-color: var(--light-bg);
    color:var(--dark-text);
    
}

a {
    text-decoration: none;
}

button{
    background-color: var(--light-bg);
    color: var(--dark-text);
    border: var(--dark-border);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}

#site-wide-container{
    /* border: 2px dotted orange; */
    display:flex;
    flex-direction: column;
    grid-column-gap: 0px;
    margin: 0px;
}
.front-login-signup-btn{
    border-radius: 30px;
    background-color: var(--dark-bg);
    color: var(--light-text);
}

#app-views-container{
    /* border: 2px dotted yellowgreen; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* min-height: 500px; */
   height: 800px;
    margin: 0px;
}
.splash-img{
   background-image: url('https://aa-portfolio-08-2024.s3.us-east-2.amazonaws.com/shortlisted-app/Shortlisted_Screenshot.png');
   background-size: cover;
   height: 100vh;
   width: 100vw;
    background-repeat: no-repeat;
    margin-top: 400px;
   /* position: relative; */
   /* color: var(--dark-bg); */
   /* resize:both; */
   border: 2px solid yellowgreen;
}

.rotate{
    transform: rotate(20deg);
}

.splash-text{
    /* background-color: brown; */
    border: 2px solid yellowgreen;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: end;
    height: fit-content;
    /* z-index: 1; */
}

.splash-text h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.shortlisted-title{
align-self: flex-start;
}

/* .hide-form{
    display: none;
    flex-direction: column;
    align-items:center;
    gap: 10px;

}
*/

.show-form{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px 30px;
    min-width: 400px;
    
} 

.show-view{
    display:flex;
    flex-direction: column;
    padding: 0px 30px;
    /* min-width: 400px; */
}

.hide-view{
    display: none;
}

.left-panel{
    /* border: 2px solid orange; */
    padding: 10px 20px;
    min-width: 400px;
    display:flex;
    flex-direction: column;
    }
    
.center-panel{
    /* border: 2px solid white; */
    background: var(--light-bg);
    border: var(--dark-border);
    border-radius: var(--panel-border);
    padding: 10px 40px;
    min-width: 400px;
    max-width:400px;
    margin: 0px 15px;
}

.right-panel{
    background: var(--tran-bg);
    border-radius: var(--panel-border);
    padding: 10px 30px;
min-width: 310px;
}

#new-shortlist-btn{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background-color: var(--dark-button);
    color: var(--light-text);
    border: 2px var(--light-border) solid;
    padding: 1px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px;
    width:85%;
    height: 80px;
    
}
.profile-btn{
    text-align: right;
}
.panel-heading{
    margin-top:0px;
    padding-top:0px;

}

.my-shortlists-list{

    max-height: 600px;
    overflow-y:auto;
}
 

.title-and-button-pairs{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: var(--light-bg) 
}

.title-and-button-pairs :hover{
     background-color: var(--light-hover);
}

.title-and-button-pairs-clicked{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-bg);
    color: var(--light-text); 
    margin-top: 5px;
    margin-bottom: 0px;
}



.shortlist-btn{
    /* border: 2px dotted green; */
    align-self:center;
    text-align: left;
    padding: 10px 10px;
    font-size: 20px;
    box-shadow: 0px 0px 0px 0px;
    /* border-radius: 0px; */
    flex-grow: 1;
    cursor: pointer;
    /* background-color: var (--light-bg); */
}

.shortlist-btn :hover{
    background-color: var(--tran-bg);
}
.shortlist-btn-clicked{
    /* border: 2px dotted green; */
    background-color: var(--dark-bg);
    color: var(--light-text);
    align-self:center;
    text-align: left;
    font-size: 20px;
    box-shadow: 0px 0px 0px 0px;
    cursor:pointer;
    flex-grow: 1;
    padding: 10px 10px;
}

.edit-delete-list-btns{
    display: flex;
    flex-direction: column;
 
}

.edit-delete-list-btns-hidden{
   display:none;
}

.edit-delete-list-btns button{
       font-size:11px;
       padding: 1px 2px;
       box-shadow: 0px 0px 0px 0px;
       border: 1px solid rgb(84, 46, 0);
       margin-bottom: 1px;
}

.edit-delete-list-btns button:hover{
    background-color: var(--light-hover);
    color: var(--dark-text);
}
#search-and-my-shortlist-container{
    color: var(--dark-text);
    border: var(--dark-border);
    border-radius: var(--panel-border);
    /* background-color: var(--tran-bg); */
    display: flex;
    flex-direction: column;
  align-items: center;
}
/*
#search-results-view{

     border: 5px dotted fuchsia; 

    }
    */

#my-shortlists{
    /* border: 2px solid blue; */
  min-width: 400px;
}



.visibile-panel{
    visibility:visible
}

.hidden-panel{
    visibility: hidden;
}


/* #single-shortlist-view{
    min-height: 400px; 
    border: 2px solid yellow;
}   */

.shortlist-comments-feed{
    height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: black; /* Color of the thumb */
    border-radius: 10px; /* Round the corners */
    border: 2px solid #f0f0f0; /* Creates padding around the thumb */
  }

.comment-tile{
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(84, 46, 0);
    padding: 10px 0px;
    /* border-radius: 20px; */
}

.commenter_name{
    color:var(--dark-text-2);
}


.profile-img-container {
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
	background-size: cover;
    border: 2px solid white;
	height: 200px;
	border-radius: 10px;
}

.cal-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    text-align: center;

}

.error{
    display:block;
    color: brown;
    max-height: 20px;
   min-height: 20px;
    text-align: center;
    margin: 10px 0px;
}

.two-line-error{
    display:block;
    color: brown;
    max-height:60px;
   min-height: 60px;
   max-width: 300px;
    text-align: center;
    margin: 10px 0px;
}

#user-profile{
    grid-column: 5;
    grid-row: 2;
    text-align: center;
}