/* TODO: Add sitewide styles */
:root{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

button{
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}

#site-wide-container{
    /* border: 2px dotted orange; */
    display:flex;
    flex-direction: column;
    grid-column-gap: 0px;
    margin: 0px;
}
.front-login-signup-btn{
    border-radius: 30px;
    background-color: white;
    color: black;
}

#app-views-container{
    /* border: 2px dotted yellowgreen; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* min-height: 500px; */
   height: 800px;
    margin: 0px;
}
.splash-img{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.shortlisted-title{
align-self: flex-start;
}
/* .hide-form{
    display: none;
    flex-direction: column;
    align-items:center;
    gap: 10px;

}
*/

.show-form{
    display: flex;
    flex-direction: column;
    align-items:center;
     padding: 10px 30px;
    min-width: 400px;
    
    

} 

.show-view{
    display:flex;
    flex-direction: column;
    padding: 0px 30px;
    /* min-width: 400px; */
    /* border: 2px solid orange; */
}

.hide-view{
    display: none;
}

.left-panel{
    
    padding: 10px 30px;
    min-width: 400px;
    display:flex;
    flex-direction: column;
    }
    
.center-panel{
    border: 2px solid white;
    padding: 10px 60px;
    min-width: 400px;
    max-width:400px;
}

.right-panel{
    padding: 10px 30px;
min-width: 310px;
}

#new-shortlist-btn{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background-color: black;
    color: white;
    border: 2px white solid;
    padding: 1px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px;
    width:85%;
    height: 80px;
    
}
.profile-btn{
    text-align: right;
}
.panel-heading{
    margin-top:0px;
    padding-top:0px;

}

/* .my-shortlists-list{

    display: flex;
    flex-direction: column;
    align-items: end;
} */
 
.title-and-button-pairs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 0px;
}
.title-and-button-pairs-clicked{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white; 
    margin-top: 5px;
}

.shortlist-btn{
    /* border: 2px dotted green; */
    align-self:center;
    padding: 10px 10px;
    font-size: 20px;
    box-shadow: 0px 0px 0px 0px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}

.shortlist-btn-clicked{
    /* border: 2px dotted green; */
    background-color: white;
    color: black;
    align-self:center;
    padding: 10px 10px;
    font-size: 20px;
    box-shadow: 0px 0px 0px 0px;
    border-radius: 0px;
    border: none;
    cursor:pointer;
}

.edit-delete-list-btns{
    display: flex;
    flex-direction: column;
 
}

.edit-delete-list-btns-hidden{
   display:none;
}

.edit-delete-list-btns button{
       font-size:11px;
       padding: 2px 2px;
       box-shadow: 0px 0px 0px 0px;
       border: 1px solid white;
}


#search-and-my-shortlist-container{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
  align-items: center;
}
/*
#search-results-view{

     border: 5px dotted fuchsia; 

    }
    */

#my-shortlists{
    /* border: 2px solid blue; */
  min-width: 400px;
}



.visibile-panel{
    visibility:visible
}

.hidden-panel{
    visibility: hidden;
}


/* #single-shortlist-view{
    min-height: 400px; 
    border: 2px solid yellow;
}   */

.shortlist-comments-feed{
    height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: black; /* Color of the thumb */
    border-radius: 10px; /* Round the corners */
    border: 2px solid #f0f0f0; /* Creates padding around the thumb */
  }

.comment-tile{
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid white;
    padding: 10px 0px;
    /* border-radius: 20px; */
}

#my-listings-calendar-placeholder{
    border: 2px solid white;
    grid-column: 4;
    grid-row: 2;
}

.profile-img-container {
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
	background-size: cover;
    border: 2px solid white;
	height: 200px;
	border-radius: 10px;
}

.cal-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    text-align: center;

}

.error{
    display:block;
    color: brown;
    max-height: 20px;
   min-height: 20px;
    text-align: center;
    margin: 10px 0px;
}

.two-line-error{
    display:block;
    color: brown;
    max-height:60px;
   min-height: 60px;
   max-width: 300px;
    text-align: center;
    margin: 10px 0px;
}

#user-profile{
    grid-column: 5;
    grid-row: 2;
    text-align: center;
}