/* TODO: Add sitewide styles */
:root{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

#site-wide-grid-container{
    border: 2px dotted orange;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto auto 50px;
    justify-content: center;
    grid-auto-flow: row;
    grid-row-gap: 50px;
    grid-column-gap: 0px;
    margin-top: 30px;
}

#build-shortlist-form{
border: 2px dotted green;
grid-column: 1;
}

#search-results-view{
    border: 2px dotted fuchsia;
    grid-column: 2;
    }