

.login-form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    
    /* border: 3px solid white; */
    min-height: 120px;
    min-width: 150px;
    max-width: 300px;
}

.login-fields{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap:30px;
    
}
.error-email{
    
    min-width:200px;
    text-align: center;
}


.login-buttons{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.front-input-field{
font-size: 15px;
}