.heading-and-form{
    text-align: center;
    border: var(--dark-border);
    border-radius: 10px;
    min-height: 120px;
    min-width: fit-content;
    padding: 10px 20px;
    
    background-color: var(--light-bg);
    color: var(--dark-text)
}

.login-form{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
      
}

.login-fields{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap:30px;
    color: var(--dark-text);
    min-width: 400px;
}

.password-and-error{
    
    /* border: 2px solid yellowgreen; */
    min-width: 400px;
    text-align: center;
}


.error-email{
    
    min-width:200px;
    text-align: center;
}


.login-buttons{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  
}

.login-btn{
    border: var(--dark-border)
}

.front-input-field{
font-size: 15px;
}

@media (width <= 1100px){

    .heading-and-form{
        min-width: none;
max-width: 300px;

    }

    .login-fields{
        flex-direction: column;
        min-width: 200px;
    }

    .password-and-error, .error-email{
        min-width: 200px;
    }

}