.profile-dropdown {
  background-color: black;
  position: absolute;
  right: 5%;
  padding: 10px;
  border: 3px solid white;
}

.profile-btn{
  align-self: flex-end;
}

.navigation-bar{
display:flex;
justify-content: space-between;
padding: 0px 10px;
}

.login-signup-homepage-btns{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  font-size: 20px;
}