.profile-dropdown {
  background-color: black;
  position: absolute;
  right: 1%;
  padding: 10px;
}

.profile-btn{
  align-self: flex-end;
}

.navigation-bar{
display:flex;
justify-content: space-between;
padding: 0px 10px;
}